/*-----共通スタイル (style.css)-----*/

body {
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url("img/renga_pattern.png");
    
    
}

h2{
    text-align: center;
    border-bottom: 2px #778899 solid; 
}
h3{
    margin-top: 30px; 
    color: #2c3e50;
}
ul{
    margin-top: 30px; 
}
li{
    margin-left: 30px;
    font-size: 1.2em; 
}
/* 画面全体の枠*/
.container {
    max-width: 900px;
    border: 3px solid #f39c12;
    padding: 20px;
    background-color: #f5f5dc; 
}

/* --ヘッダー-- */
header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.logo_group {
    align-items: center;
    display: flex;
}
.site_title {
    font-size: 25px;
    color: #2c3e50;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    display: block;
    padding: 8px 16px;
    border: 2px solid #3498db;
    color: #2c3e50;
}
/* --ヘッダー end--*/

/* 枠内 スペース */
.space {
    margin-bottom: 5px;
    padding: 15px;
}

/* 依頼する ボタン */
.btn_submit {
    display: block;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    padding: 12px 20px;
    border: 2px solid #27ae60;
    font-size: 20px;
    background-color: #f5f5dc; 
}

/*-----共通スタイル (style.css)--end---*/

/*-----00index.html-----*/
.main_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #27ae60;
    padding: 15px;
    margin-bottom: 20px;
    background-color:  #eee8aa;

}
.banner_center {
    text-align: center;
    flex-grow: 1;
}
.home_bottom {
    display: flex;
    gap: 20px;
}
.sidebar_main {
    border: 2px solid #3498db;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.main_content_box {
    width: 75%;
    border: 2px solid #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 22px;
}
/*-----00index.html--end---*/

/*-----01work.html-----*/
/*-----01work.html--end---*/

/*-----02info.html-----*/
.member_title {
    margin-bottom: 5px;
    font-size: 1.25em;
}
/*-----02info.html--end--*/


/*--03log_in.html
    031sign_up.html
    032select.html
    0321request_form.html
    0322request_history.html -----*/

.login_title_box {
    border: 2px solid #27ae60;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    width: 60%;
    margin: 20px auto;
}

.login_form_box {
    border: 2px solid #27ae60;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th, .data-table td {
    border: 1px solid #7f8c8d;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}
.send{
    width: 100%; 
    margin-top: 15px;
}
.back{
    font-size: 1.5em;
}
/*--03log_in.html
    031sign_up.html
    032select.html
    0321request_form.html
    0322request_history.html ---end--*/

